body {
    background-color: #0E0E0E;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
}

.col {
    height: 60px;
    border: 2px solid white;
    box-shadow: 1px 1px 5px grey;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.col:hover {
    filter: brightness(0.5);
    box-shadow: 1px 1px 10px white;
}